#----------------------------------------------------------------------------------
# temporary
#----------------------------------------------------------------------------------
# files
*~
*.o
tmp*
a.out
9cc

#tmp dir
build
